{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Bookings</h1>
    {%for event in event %}
    <div class="home">
       <div class="main">
            <p class="event-name">{{event.Event_name}}</p>
            <img src="{{event.Event_image.url}}" alt="" class="card-image">
            <p class="sponser-name">{{event.Sponser_name}}</p>
            <p class="start-date">Start date:{{event.Start_date}}</p>
            <p class="end-date">End date:{{event.End_date}}</p>
            <p class="venue-address">Venue:{{event.Event_venue}}</p>
            
           <a href="{%url 'edit_event'   event.id%}"><button class="right">CancelEvent</button></a></td>
       
       </div>
    </div>   
    {%endfor%}

</body>
</html>